.profile-nav {
  position: fixed;
  right: 100px;
  top: 75px;
  border-radius: 10px;
  box-shadow: 0px 4px 18px var(--shcolor);
  background-color: var(--bgcolor);
  z-index: 400;
}

.profile-nav ul {
  padding: 0 0.7em;
  margin: 0.2em 0.5em;
  text-align: left;
}

.profile-nav ul li {
  list-style: none;
  font-size: 0.8em;
  margin: 0.9em 0;
  width: 100%;
}

.profile-nav ul li a {
  color: var(--pcolor);
}

.profile-nav ul li a:hover {
  color: var(--tcolor);
}

.profile-nav ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .profile-nav {
    right: 80px;
    top: 70px;
  }
}

@media screen and (max-width: 800px) {
  .profile-nav {
    right: 10px;
    top: 58px;
  }
}
