nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: var(--bgcolor);
  box-shadow: 0px 0.1rem 0.1rem 0rem var(--scolor);
  z-index: 10;
}

.logo {
  width: 20%;
}

.menu {
  width: 80%;
}

.logo a {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.logo a:hover {
  opacity: 0.82;
}

.logo svg {
  margin: 0;
  width: 100px;
  height: 28px;
  fill: none;
  stroke: none;
  stroke-width: 0px;
}

nav div ul {
  display: flex;
  justify-content: flex-end;
}

nav div ul li {
  list-style: none;
  align-items: center;
  display: flex;
  margin-left: 0.5em;
}

nav .search {
  display: none;
}

nav ul .search {
  width: 460px;
  height: 28px;
  border: solid 1px var(--scolor);
  border-radius: 10px;
  background-color: var(--scolor);
  display: grid;
  justify-content: center;
  grid-template-columns: 8% 92%;
}

.search input {
  font-size: 0.66em;
  height: 100%;
  border: none;
  border-radius: 9px;
  padding: 0 0.5em;
  background-color: var(--scolor);
}

.search input::placeholder {
  font-size: 1rem;
  opacity: 0.5;
  color: var(--textcolor);
}

.search input:focus {
  outline: none;
  border: none !important;
}

.search svg {
  margin: auto;
  height: 21px;
  width: 21px;
}

.signin {
  background-color: var(--shcolor) !important;
  /* border: 1px solid var(--tcolor); */
}

nav .media {
  display: none;
}

@media screen and (max-width: 1200px) {
  nav {
    height: 65px;
  }

  .logo {
    width: 20%;
    /* margin: 2rem 1.5rem 1.5rem; */
  }

  .logo svg {
    width: 80px;
  }

  .menu {
    width: 80%;
    /* margin: 2rem 1.5rem 1.5rem; */
  }

  /* nav div ul li a {
    font-size: 0.78em;
    width: 100px;
  } */

  .num-card {
    font-size: 0.73em;
  }
}

@media screen and (max-width: 800px) {
  nav {
    height: 50px;
    justify-content: space-between;
  }

  nav .menu {
    display: none;
  }

  nav div ul {
    display: none;
  }

  nav .media {
    display: contents;
    margin-right: 1rem;
    width: 10%;
  }

  nav .logo {
    margin-right: 0;
    margin-left: 1rem;
  }

  nav .logo svg {
    width: 84px;
  }

  nav .search {
    display: contents;
    width: 80%;
    height: 28px;
    border: solid 1px var(--scolor);
    border-radius: 10px;
    background-color: var(--scolor);
    display: grid;
    justify-content: center;
    grid-template-columns: 8% 92%;
    margin: 0 0.5em;
  }

  .search svg {
    margin: auto 0.4rem;
    height: 18px;
    width: 18px;
  }

  nav .media a {
    align-items: center;
    width: 60px;
    height: 30px;
    background-color: var(--scolor);
    margin-right: 0.4em;
  }
}

.menu-nav {
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 51px;
  border-radius: 10px;
  background-color: var(--bgcolor);
  z-index: 122;
  animation-name: trans;
  animation-duration: 0.3s;
  transition: 1ms;
}

@keyframes trans {
  0% {
    top: 100%;
  }
  100% {
    top: 51px;
  }
}

.menu-nav ul {
  display: block;
  padding: 0;
  margin: 0 5rem;
  float: right;
}

.menu-nav ul li {
  text-align: right;
  list-style: none;
  font-size: 0.8em;
  margin: 1.2rem 0 0;
  width: 100%;
}

.menu-nav ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  height: 28px;
  background-color: var(--scolor);
  color: var(--pcolor);
  transition: background-color 0.4s ease-out;
}

.menu-nav ul li .profile-a {
  margin-left: auto;
  margin-bottom: 0.4rem;
  width: 70%;
  /* background-color: var(--shcolor); */
}

.menu-nav ul li .profile-logout {
  margin-left: auto;
  margin-top: 1rem;
  width: 70%;
  color: rgb(170, 160, 32);
  background-color: var(--bgcolor);
}

.menu-nav ul li a:hover {
  background-color: var(--tcolor);
  color: var(--pcolor);
}

.menu-nav ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Face Profile */

.profile-nav {
  position: fixed;
  right: 100px;
  top: 75px;
  border-radius: 10px;
  box-shadow: 0px 4px 18px var(--shcolor);
  background-color: var(--bgcolor);
  z-index: 400;
}

.profile-nav ul {
  padding: 0.6rem 1rem;
  margin: 0.2rem 0.9rem;
  text-align: left;
}

.profile-nav ul li {
  list-style: none;
  margin: 0.4rem 0 0;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .profile-nav {
    right: 80px;
    top: 70px;
  }
}

@media screen and (max-width: 800px) {
  .profile-nav {
    right: 10px;
    top: 58px;
  }
}

/* notif card */
.card-list {
  background-color: var(--bgcolor);
  position: fixed;
  right: 60px;
  top: 75px;
  min-width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 18px var(--shcolor);
  z-index: 300;
}

.card-list .cardno {
  height: 100%;
}

.card-list .cardno svg {
  display: block;
  margin: 0.7rem;
  height: 67%;
}

.card-list .cardno span {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: var(--pcolor);
}

.card-list ul {
  text-align: start;
  display: inline-block;
  width: 100%;
  height: 83%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.card-list ul li img {
  height: 70px;
  width: 90px;
  margin: 0.2rem 0.3rem 0;
  border-radius: 10px;
}

.card-list ul li div p {
  width: 200px;
}

.card-list ul li:hover {
  background-color: var(--scolor);
  border-radius: 10px;
  cursor: pointer;
}

.card-list .total {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--scolor);
  border-radius: 10px;
  padding: 0;
  margin-top: 0.6em;
  height: 17%;
}

@media screen and (max-width: 1200px) {
  .card-list {
    right: 30px;
    top: 70px;
  }
}
@media screen and (max-width: 850px) {
  .card-list {
    right: 40px;
    top: 58px;
  }
}
