.pages-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 5%;
}

.pages-numbers ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages-numbers ul li {
  margin: 0 0.2em;
  list-style: none;
}

.pages-numbers a {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.94em;
  text-decoration: none;
  color: var(--textcolor);
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages-numbers a svg {
  width: 25px;
  height: 14px;
  padding: 0 0.4em;
  stroke-width: 0;
}

.now {
  color: var(--pcolor) !important;
  font-size: 1.1em !important;
  opacity: 1 !important;
}

.pages-numbers a:hover {
  color: var(--pcolor);
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .pages-numbers {
    padding: 0em 0.8em;
  }

  .pages-numbers ul li {
    margin: 0 0.2em;
  }

  .pages-numbers a {
    font-size: 0.9em;
  }

  .pages-numbers a img {
    width: 13px;
    padding: 0 0.3em;
  }

  .now {
    font-size: 1.1em !important;
  }
}

@media screen and (max-width: 850px) {
  .pages-numbers {
    padding: 0em 0.7em;
  }

  .pages-numbers a {
    font-size: 0.8em;
  }

  .pages-numbers a img {
    width: 12px;
    padding: 0 0.3em;
  }

  .now {
    font-size: 1em !important;
  }
}
