<%- include('./template/Header'); -%>
<!-- Body content -->
<h3 class="h3">Welcome to tradingRev!</h3>

<p class="pgb">
    Thanks for signing up, we need to verify your email. Please
    click the button below.
</p>

<div class="btnc flexC">
    <a class="buttonP" href="<%- url -%>">Verify Email</a>
</div>

<br />
<p class="pgb" style="margin-top: 1rem;">
    Regards,<br />
    <span style="font-weight: bold; color: #616e3c;">TradingRev</span>
</p>

<br />
</div>

<%- include('./template/Footer'); -%>