<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="color-scheme" content="light" />
  <meta name="supported-color-schemes" content="light" />
  <style>
    html {
      --pcolor: #616e3c;
      --scolor: #f4f2f0;
      --tcolor: #a8cf3b;
      --pricecolor: #f27a02;
      --bgcolor: white;
      --shcolor: #a8cf3b59;
      --textcolor: black;
      --timecolor: #a0b0a0;
      --cancelcolor: rgb(170, 160, 32);
    }

    body {
      /* width: 100%; */
      margin: 0;
      background-color: var(--scolor);
    }

    .container {
      width: 100%;
      background-color: var(--scolor);
    }

    .bodyC {
      margin: 2rem auto 0;
      width: 80%;
      background-color: var(--bgcolor);
      padding: 1rem 1.8rem;
      border-radius: 8px;
      box-sizing: border-box;
    }

    .footer {
      width: 80%;
      margin: 2rem auto;
      background-color: var(--scolor);
    }

    .flexC {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header {
      height: 100px;
      width: 100%;
      background-color: var(--bgcolor);
    }

    .logo svg {
      margin: 0;
      width: 100px;
      height: 28px;
      fill: none;
      stroke: none;
      font-family: "TimesNewRomanPS-BoldMT", "Times New Roman";
      /* stroke-width: 0px; */
    }

    .h31 {
      margin: 0.5rem 0;
      font-weight: bold;
      text-align: center;
      font-size: 1.4rem;
      color: var(--pcolor);
      user-select: none;
      font-family: "Avenir", "Arial", sans-serif;
    }

    .h3 {
      font-size: 1.4rem;
      color: var(--pcolor);
      font-family: "Times New Roman 400", serif;
      -webkit-user-select: none;
      user-select: none;
      margin: 0.5rem 0;
    }

    .pgb {
      font-size: 1rem;
      color: var(--textcolor);
      font-family: "Avenir", "Arial", sans-serif;
      background-color: inherit;
      margin: 0.5rem 0;
    }

    .buttonP {
      font-size: 1.05rem;
      font-family: "Times New Roman 400", serif;
      padding: 0.4rem 1.4rem;
      border-radius: 5px;
      margin: 0.5rem 0 1rem;
      color: var(--scolor);
      background-color: var(--pcolor);
      outline: none;
      border: none;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      transition: box-shadow 0.2s ease-in-out, opacity 0.3s linear,
        outline-offset 0.3s ease-in-out;
    }

    .span {
      /* padding: 0.1rem 0.3rem; */
      /* border-radius: 6px; */
      cursor: default;
      color: var(--pcolor);
      overflow: hidden;
      /* background-color: var(--scolor); */
    }

    .btnc {
      width: 100%;
      margin: 1rem 0;
    }

    @media only screen and (max-width: 600px) {
      /* .inner-body {
        width: 100% !important;
      } */

    }

    @media only screen and (max-width: 500px) {
      .bodyC {
        margin-top: 0;
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <!-- Email Body -->
  <div class="container">
    <div class="bodyC">

      <div class="header flexC">
        <a href="http://tradingrev.com" class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 33.247">
            <g id="Group_1840" data-name="Group 1840" transform="translate(-366 -1944.587)">
              <g id="Group_1839" data-name="Group 1839">
                <g id="Group_1836" data-name="Group 1836">
                  <g id="Group_1835" data-name="Group 1835" transform="translate(413.229 1952.232)">
                    <text id="Rev" transform="translate(19 19)" fill="var(--pcolor)" fontSize="18"
                      fontFamily="TimesNewRomanPS-BoldMT, Times New Roman" fontWeight="700" letterSpacing="-0.007em">
                      <tspan x="0" y="0">
                        Rev
                      </tspan>
                    </text>
                    <text id="Trading" transform="translate(-44 10)" fill="var(--pcolor)" fontSize="18"
                      fontFamily="TimesNewRomanPS-BoldMT, Times New Roman" fontWeight="700" letterSpacing="-0.007em">
                      <tspan x="0" y="0">
                        Trading
                      </tspan>
                    </text>
                  </g>
                  <path id="Path_408" data-name="Path 408"
                    d="M378.073,1976.973c.015,0,24.477,1.3,36.448-1.592s6.65-6.219,11.434-9.964a10.645,10.645,0,0,1,5.736-2.349s.172,1.61.465.27-.919-4.222.707-5.63,2.065.657,5.8,0,3.327-1.049,5.391-2.5,4.086-10.024,4.086-10.024"
                    fill="none" stroke="var(--tcolor)" strokeLinecap="round" strokeWidth="2" />
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>