<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="color-scheme" content="light" />
  <meta name="supported-color-schemes" content="light" />
  <style>
    html {
      --pcolor: #616e3c;
      --scolor: #f4f2f0;
      --tcolor: #a8cf3b;
      --bgcolor: white;
      --shcolor: #a8cf3b59;
      --textcolor: black;
    }

    body {
      /* width: 100%; */
      margin: 0;
      background-color: #f4f2f0;
    }

    .container {
      width: 100%;
      background-color: #f4f2f0;
      ;
    }

    .bodyC {
      margin: 2rem auto 0;
      width: 80%;
      background-color: white;
      padding: 1rem 1.8rem;
      border-radius: 8px;
      box-sizing: border-box;
    }

    .footer {
      width: 80%;
      margin: 2rem auto;
      background-color: #f4f2f0;
      ;
    }

    .flexC {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header {
      height: 100px;
      width: 100%;
      background-color: white;
    }

    .logo {
      text-align: center;
    }

    .logo img {
      margin: 0;
      width: 100px;
      height: auto;
    }

    .h31 {
      margin: 0.5rem 0;
      font-weight: bold;
      text-align: center;
      font-size: 1.4rem;
      color: #616e3c;
      ;
      user-select: none;
      font-family: "Avenir", "Arial", sans-serif;
    }

    .h3 {
      font-size: 1.4rem;
      color: #616e3c;
      font-family: "Times New Roman 400", serif;
      -webkit-user-select: none;
      user-select: none;
      margin: 0.5rem 0;
    }

    .pgb {
      font-size: 1rem;
      color: black;
      font-family: "Avenir", "Arial", sans-serif;
      background-color: inherit;
      margin: 0.5rem 0;
    }

    .buttonP {
      font-size: 1.05rem;
      font-family: "Times New Roman 400", serif;
      padding: 0.4rem 1.4rem;
      border-radius: 5px;
      margin: 0.5rem 0 1rem;
      color: #f4f2f0 !important;
      background-color: #616e3c;
      outline: none;
      border: none;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      transition: box-shadow 0.2s ease-in-out, opacity 0.3s linear,
        outline-offset 0.3s ease-in-out;
    }

    .span {
      /* padding: 0.1rem 0.3rem; */
      /* border-radius: 6px; */
      cursor: default;
      color: #616e3c !important;
      overflow: hidden;
      /* background-color: var(--scolor); */
    }

    .btnc {
      width: 100%;
      margin: 1rem 0;
    }

    .space {
      height: 1rem;
    }

    @media only screen and (max-width: 600px) {
      /* .inner-body {
        width: 100% !important;
      } */

    }

    @media only screen and (max-width: 500px) {
      .bodyC {
        margin-top: 0;
        width: 100%;
      }

      .space {
        height: 0rem;
      }
    }
  </style>
</head>

<body>
  <!-- Email Body -->
  <div class="container">
    <div class="space"></div>
    <div class="bodyC">

      <div class="header flexC">
        <a href="http://tradingrev.com" class="logo">
          <img
            src="http://tradingrev.com/logo.png"
            alt="logo" />
        </a>
      </div>