.buttonP {
  font-size: 1.05rem;
  font-family: "Times New Roman 400", serif;
  padding: 0.4rem 1.4rem;
  border-radius: 5px;
  margin: 0.5rem 0 1rem;
  color: var(--scolor);
  background-color: var(--pcolor);
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, opacity 0.3s linear,
    outline-offset 0.3s ease-in-out;
}

.buttonP:hover {
  box-shadow: 0 0 1px 1px var(--pcolor);
  opacity: 0.95;
  outline: 1px solid var(--scolor);
  outline-offset: -0.2rem;
}

.buttonS {
  font-size: 1.05rem;
  font-family: "Times New Roman 400", serif;
  padding: 0.4rem 1.4rem;
  border-radius: 5px;
  margin: 0.5rem 0 1rem;
  color: var(--pcolor);
  background-color: var(--scolor);
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, opacity 0.3s linear,
    outline-offset 0.3s ease-in-out;
}

.buttonS:hover {
  box-shadow: 0 0 1px 1px var(--pcolor);
  opacity: 0.9;
  outline: 1px solid var(--pcolor);
  outline-offset: -0.2rem;
}

.button {
  font-size: 0.95rem;
  font-weight: bold;
  font-family: "Times New Roman 400", serif;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  margin: 0.5rem 0 1rem;
  color: var(--pcolor);
  background-color: var(--shcolor);
  outline: none;
  outline-color: var(--scolor);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: outline-offset 0.3s ease-in;
}

.button:hover {
  outline: 2px solid var(--scolor);
  outline-offset: -0.2rem;
}

.buttonR {
  font-size: 1rem;
  color: var(--pcolor);
  font-weight: bold;
  width: 140px;
  border-radius: 5px;
  border: 1px solid var(--tcolor);
  background-color: var(--bgcolor);
  padding: 0.3rem 0.2rem;
  outline: none;
  outline-color: var(--tcolor);
  cursor: pointer;
  text-decoration: none;
  /* transition: outline-offset 0.3s ease-in; */
}

.buttonR:hover {
  background-color: var(--tcolor);
  outline: 1px solid var(--scolor);
  outline-offset: -0.25rem;
}

.at {
  font-size: 1.05rem;
  font-family: "Times New Roman 400", serif;
  color: var(--pcolor);
  background-color: inherit;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.a,
.abtn {
  font-size: 1.05rem;
  font-family: "Times New Roman 400", serif;
  color: var(--pcolor);
  background-color: var(--scolor);
  padding: 0.3rem 1rem;
  border-radius: 5px;
  outline: none;
  outline-color: var(--scolor);
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.a:hover,
.abtn:hover {
  background-color: var(--bgcolor);
  outline: 4px solid var(--scolor);
  outline-offset: -0.3rem;
}

.abtnP {
  font-size: 1.05rem;
  font-family: "Times New Roman 400", serif;
  color: var(--scolor);
  background-color: var(--pcolor);
  padding: 0.3rem 1rem;
  border-radius: 9px;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.aNav,
.abtnNav {
  font-size: 1rem;
  font-family: "Times New Roman", serif;
  color: var(--pcolor);
  background-color: var(--scolor);
  padding: 0.3rem 1.5rem;
  border-radius: 5px;
  outline: none;
  outline-color: var(--scolor);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.btnHover:hover {
  background-color: var(--tcolor) !important;
  outline: 1px solid var(--scolor);
  outline-offset: -0.2rem;
}

.bold {
  font-weight: bold !important;
}

.normal {
  font-weight: normal !important;
}

.btnNav {
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--bgcolor);
  color: var(--pcolor);
  transition: background-color 0.4s ease-out;
  text-decoration: none;
}

.ah {
  color: var(--pcolor);
  outline: none;
  border: none;
  text-decoration: none;
  /* max-width: 90%; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ah1 {
  color: var(--pcolor);
  outline: none;
  border: none;
  text-decoration: none;
}

.aspan {
  font-size: 1rem;
  font-family: "Avenir", "Arial", sans-serif;
  color: var(--pcolor);
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.aspan-9 {
  font-size: 0.86rem;
  font-family: "Avenir", "Arial", sans-serif;
  color: var(--pcolor);
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.aspanX {
  font-size: 1rem;
  font-family: "Avenir", "Arial", sans-serif;
  color: #aaa020;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.buttonX {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Avenir", "Arial", sans-serif;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(170, 160, 32);
  background-color: inherit;
}

.buttonT {
  font-size: 0.87rem;
  font-weight: bold;
  font-family: "Avenir", "Arial", sans-serif;
  color: var(--pcolor);
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.buttonT1 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Avenir", "Arial", sans-serif;
  color: var(--pcolor);
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.btnSend {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--pcolor);
  background-color: var(--scolor);
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.tHover:hover {
  color: var(--tcolor);
}

.bgtHover:hover {
  background-color: var(--tcolor);
}

.o {
  opacity: 0.5;
  transition: opacity 0.3s linear;
}

.o:hover,
.oActiv {
  opacity: 1;
}

.an {
  font-size: 0.95rem;
  /* font-family: "Times New Roman 400", serif; */
  color: var(--scolor);
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}

.buttonNAN {
  opacity: 0.5;
}

.buttonNAN:hover {
  cursor: not-allowed;
}

.btn-line {
  text-decoration: line-through;
  text-decoration-color: var(--pricecolor);
  text-decoration-thickness: 3px;
}

.cursor {
  cursor: pointer;
}

.aclick {
  background-color: var(--pcolor);
  color: var(--bgcolor);
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
