.flex {
  display: flex;
  align-items: center;
}

.flexC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexA {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block {
  display: block;
  margin: 0.4rem auto !important;
}

.imgP {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 0.5rem;
}

.imgP1 {
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.svgHover svg,
.svgHoverUp svg,
.svgHoverDn svg {
  transition: all 0.25s linear;
}

.svgHover:hover svg {
  transform: rotateZ(30deg) scale3d(1.1, 1.1, 0.3);
  /* transform: translateY(3in); */
}

.svgHoverUp:hover svg {
  transform: translateY(-2px) scale3d(1.1, 1.1, 0.3);
}

.svgHoverDn:hover svg {
  transform: translateY(2px) scale3d(1.1, 1.1, 0.3);
}

.svgh svg {
  width: 33px;
  height: 33px;
}

.svgh svg circle {
  transition: fill 0.3s linear;
}

.svgh svg:hover circle {
  fill: var(--tcolor);
}

.tHover:hover .svgh svg circle {
  fill: var(--tcolor);
}

.svgb svg {
  width: 16px !important;
  height: 15px !important;
  margin-left: 0.3rem;
  /* cursor: pointer; */
}

.svg1 svg {
  width: 20px;
  height: 20px;
  margin-right: 0.2rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

.svg2 svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.svg22 svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: var(--pcolor);
}

.svg3 svg {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.svg4 svg {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.scaleH span {
  transition: transform 0.2s ease-in-out;
}

.scaleH:hover span {
  transform: scale(1.06);
}

.i {
  font-size: 0.95rem;
  color: #a0b0a0;
}

.i1 {
  font-size: 0.87rem;
  color: #a0b0a0;
}

.spanC {
  padding: 1rem 2rem;
  color: var(--pcolor);
  border-radius: 6px;
  background-color: var(--tcolor);
}

.span {
  font-size: 1rem;
  color: var(--pcolor);
  user-select: none;
}

.spanHC {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: var(--pcolor);
  background-color: var(--shcolor);
  width: 45px;
  height: 45px;
  /* padding: 1rem; */
  border-radius: 50%;
}

.spanL {
  font-size: 1.1rem;
  color: var(--pcolor);
}

.spanH {
  color: var(--pcolor);
  font-family: "Times New Roman", Times, serif;
  font-size: 0.78rem;
  margin: 0.1rem 0;
  border: 1px solid var(--shcolor);
  box-sizing: border-box;
  padding: 0rem 1rem;
  border-radius: 4px;
}

.span2 {
  font-size: 0.75rem;
  font-weight: 400;
  /* padding: 0.1rem 0.3rem; */
  /* border-radius: 6px; */
  cursor: default;
  color: var(--pcolor);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* background-color: var(--scolor); */
}

.span1 {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.1rem 0.3rem;
  border-radius: 6px;
  cursor: default;
  color: var(--pcolor);
  background-color: var(--scolor);
}

.spanR {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.1rem 0.5rem;
  border-radius: 6px;
  cursor: default;
  color: var(--pcolor);
  background-color: var(--shcolor);
}

.spanN {
  position: absolute;
  top: 1px;
  right: 2px;
  color: var(--pcolor);
  font-weight: bold;
}

.crossL {
  text-decoration: line-through;
  text-decoration-color: var(--pricecolor);
  text-decoration-thickness: 2px;
  text-decoration-line: line-through;
  background-color: var(--bghcolor);
}

.hr {
  border: 1px solid var(--scolor);
  width: 40%;
  margin: 0.5rem 0 1rem auto;
}

.ul {
  padding-inline-start: 20px;
}

.w1 {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.w1-5 {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
}

.w2 {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.w3 {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.font1 {
  font-size: 1rem !important;
}

.colorP {
  color: var(--pcolor);
}

.colorS {
  color: var(--scolor);
}

.hidden {
  display: none;
}

.op-6 {
  opacity: 0.6;
  transition: opacity 0.3s ease-in !important;
}

.opHover:hover {
  opacity: 1;
}