.comment form {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid var(--tcolor);
  border-radius: 8px;
  width: 100%;
}

.comment div:focus {
  outline: none;
  border: 0px;
}

.comment .allow {
  transform: rotate(90deg);
  background-color: var(--shcolor);
}

.border-left {
  border-left: 2px solid var(--scolor);
}

.border {
  border: 1px solid var(--scolor);
  border-radius: 12px;
  box-sizing: border-box;
}

.border1 {
  border-top: 1px solid var(--scolor);
  border-left: 1px solid var(--scolor);
  border-radius: 12px;
}

.opacity-transition {
  transition: opacity 0.3s ease-out;
}
