.m0 {
  margin: 0;
}
.m1 {
  margin: 1rem;
}
.m2 {
  margin: 2rem;
}
/* m .0 */
.mu-0 {
  margin-top: 0;
}
.md-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
/* m .125 */
.mu-125 {
  margin-top: 0.125rem;
}
.md-125 {
  margin-bottom: 0.125rem;
}
.ml-125 {
  margin-left: 0.125rem;
}
.mr-125 {
  margin-right: 0.125rem;
}
/* m .25 */
.mu-25 {
  margin-top: 0.25rem;
}
.md-25 {
  margin-bottom: 0.25rem;
}
.ml-25 {
  margin-left: 0.25rem;
}
.mr-25 {
  margin-right: 0.25rem;
}
/* m .5 */
.mu-5 {
  margin-top: 0.5rem;
}
.md-5 {
  margin-bottom: 0.5rem;
}
.ml-5 {
  margin-left: 0.5rem;
}
.mr-5 {
  margin-right: 0.5rem;
}
/* m 1 */
.mu1 {
  margin-top: 1rem;
}
.md1 {
  margin-bottom: 1rem;
}
.ml1 {
  margin-left: 1rem;
}
.mr1 {
  margin-right: 1rem;
}
/* m 2 */
.mu2 {
  margin-top: 2rem;
}
.md2 {
  margin-bottom: 2rem;
}
.ml2 {
  margin-left: 2rem;
}
.mr2 {
  margin-right: 2rem;
}
/* m 3 */
.mu3 {
  margin-top: 3rem;
}
.md3 {
  margin-bottom: 3rem;
}
.ml3 {
  margin-left: 3rem;
}
.mr3 {
  margin-right: 3rem;
}
/* m 4 */
.mu4 {
  margin-top: 4rem;
}
.md4 {
  margin-bottom: 4rem;
}
.ml4 {
  margin-left: 4rem;
}
.mr4 {
  margin-right: 4rem;
}
