.containerCreate {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.containerCreate .froala-div {
  width: 70%;
}

.containerCreate .btns {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
