.containh {
  margin: 5.5em 5% 0;
}

.containh h4 {
  font-family: "Times New Roman 400", serif;
  margin: 0.6em 0;
  font-size: 0.8em;
  color: var(--pcolor);
}

.containh .gridlist {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-between;
}

.containh .griditem {
  margin-bottom: 1.5em;
  padding: 0.5em;
  border: 3px solid var(--scolor);
  border-radius: 10px;
}

.containh .griditem img {
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  border-radius: 10px;
}

.containh .griditem h5 {
  font-size: 0.75em;
  margin: 0.6rem 0 0.3rem;
  color: var(--pcolor);
  display: flex;
  align-items: center;
  gap: 4px;
}

.containh .griditem h5 a {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--pcolor);
}

.containh .griditem p {
  font-size: 0.7em;
  margin: 0;
  margin-bottom: 0.2rem;
  max-height: 3em;
  overflow: hidden;
}

.containh .btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.containh .int {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.containh .int svg {
  width: 18px;
  height: 20px;
  border-radius: 0;
}

.containh .int span {
  font-size: 0.7em;
  color: var(--pcolor);
  margin-right: 0.4em;
  margin-left: 0.3em;
}

.containh .int h6 {
  display: block;
  font-size: 0.76rem;
  color: var(--pcolor);
  cursor: default;
  margin: 0;
}

.containh .griditem .btm a {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.1rem 0.6em;
  border-radius: 6px;
  color: var(--pcolor);
  background-color: var(--scolor);
}

.containh .griditem .btm span {
  font-size: 0.75rem;
  margin-left: 0.3rem;
  font-weight: 400;
  padding: 0.1rem 0.3rem;
  border-radius: 6px;
  cursor: default;
  color: var(--pcolor);
  background-color: var(--scolor);
}

@media screen and (max-width: 1250px) {
  .containh {
    margin: 4em 4% 0;
  }

  .containh .gridlist {
    grid-template-columns: 32% 32% 32%;
  }
}

@media screen and (max-width: 880px) {
  .containh {
    margin: 4em 3% 0;
  }

  .containh .gridlist {
    grid-template-columns: 48% 48%;
  }
}

@media screen and (max-width: 500px) {
  .containh .gridlist {
    grid-template-columns: 100%;
    justify-content: space-around;
  }
}
