.containh {
  margin: 5.3rem 4% 0;
}

.containh .filter {
  width: 100%;
  text-align: right;
}

.containh .filter h5 {
  margin: 0;
  font-size: 0.9rem;
  margin-right: 2rem;
  display: inline;
  color: var(--pcolor);
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s ease-in;
}

.containh .filter h5:hover {
  opacity: 1;
}

.containh .gridlist {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  justify-content: space-between;
}

.containh .griditem {
  margin-bottom: 1em;
  padding: 0.4rem;
  border: 2px solid var(--scolor);
  border-radius: 5px;
  /* overflow: hidden; */
}

.containh .griditem img,
.containh .griditem .imgd {
  position: relative;
  width: 100%;
  min-height: 130px;
  max-height: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.containh .int {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.containh .int h6 {
  display: block;
  font-size: 0.76rem;
  color: var(--pcolor);
  cursor: default;
  margin: 0;
}

.containh .griditem .btm a {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.1rem 0.6em;
  border-radius: 6px;
  color: var(--pcolor);
  background-color: var(--scolor);
}

.containh .griditem .btm span {
  font-size: 0.75rem;
  margin-left: 0.3rem;
  font-weight: 400;
  padding: 0.1rem 0.3rem;
  border-radius: 6px;
  cursor: default;
  color: var(--pcolor);
  background-color: var(--scolor);
}

@media screen and (max-width: 1250px) {
  .containh {
    margin: 5rem 3% 0;
  }

  .containh .gridlist {
    grid-template-columns: 24% 24% 24% 24%;
  }
}

@media screen and (max-width: 880px) {
  .containh {
    margin: 4rem 2% 0;
  }

  .containh .gridlist {
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (max-width: 500px) {
  .containh .gridlist {
    grid-template-columns: 48% 48%;
    /* justify-content: space-around; */
  }
}
