.containProfile {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-column-gap: 3rem;
  justify-content: space-between;
  margin: 5em 4% 0;
  min-height: 70vh;
}

.containProfile .left ul {
  position: fixed;
}

.containProfile .left li {
  margin: 0.8rem 0;
  list-style-type: none;
}

.containProfile .right {
  position: relative;
}

.containProfile .right .profile {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: start;
  margin: 2rem auto 0;
}

.containProfile .right .profile img,
.containProfile .right .profile svg {
  border-radius: 50%;
  margin-right: 1.5rem;
  width: 80px;
  height: 80px;
}

.containProfile .right .profile h4 {
  font-size: 1.05rem;
  color: var(--pcolor);
  margin: 0.5rem 0;
}

.containProfile .right .profile h5 {
  font-size: 0.9rem;
  margin: 0;
  color: var(--pcolor);
}

.containProfile .right .profile h6 {
  font-size: 0.85rem;
  margin: 0;
  color: var(--pcolor);
}

.containProfile .right .noimqa {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containProfile .right .noimqa svg {
  stroke: var(--textcolor);
  fill: var(--textcolor);
  stroke-width: 0;
}

.containProfile .right .noimqa h5 {
  color: var(--textcolor);
}

.containProfile .right .qaim {
  width: 80%;
  margin: 3rem auto;
}

.containProfile .right .qaim hr {
  margin: 0 auto;
}

.containProfile .right .qaim > div:first-of-type {
  position: sticky;
  top: 70px;
  background-color: var(--scolor);
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  z-index: 2;
}

.containProfile .right .qaim h6 {
  margin: 0.8rem 0;
  cursor: pointer;
  color: var(--pcolor);
  font-size: 1.07rem;
  opacity: 0.5;
}

.containProfile .right .qaim h6.active {
  opacity: 1;
}

.containProfile .profileproduct h5.active {
  opacity: 1;
}

.containProfile .right .nonotif {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.containProfile .right .nonotif h5 {
  color: var(--pcolor);
}

.containProfile .right .templ {
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--scolor);
}

.containProfile .right .templ img {
  width: 100px;
  height: 80px;
  border-radius: 8px;
}

.containProfile .right .templ > div {
  margin-left: 1rem;
  flex-grow: 1;
}

.containProfile .right .templ div h5 {
  margin: 0;
  font-size: 0.9rem;
}

.containProfile .right .templ div p {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  /* overflow: scroll; */
}

.containProfile .right .templ div .inter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.containProfile .right .templ div .inter i {
  font-size: 0.9rem;
}

.containProfile .right .templ div .inter svg {
  height: 0.8rem;
  width: 0.8rem;
}

.containProfile .right .templ div .inter span {
  color: var(--pcolor);
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.containProfile .profileproduct {
  position: sticky;
  top: 70px;
  border-radius: 7px;
  background-color: var(--scolor);
  /* width: 80%; */
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.containProfile .profileproduct h5 {
  font-size: 1rem;
  margin: 0.9rem 0;
  color: var(--pcolor);
  opacity: 0.5;
  cursor: pointer;
}

.containProfile .right .contprod {
  margin-bottom: 2rem;
  padding: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 10px;
  border: 2px solid var(--scolor);
}

.containProfile .right .contprod img {
  height: 140px;
  width: 230px;
  border-radius: 10px;
  margin-right: 0.7rem;
}

.containProfile .right .contprod h5 {
  margin: 0;
  font-size: 1rem;
}

.containProfile .right .contprod p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.containProfile .right .noproduct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}

.containProfile .right .noproduct svg {
  width: 100%;
  height: 100%;
  fill: var(--bgcolor);
  margin-right: 3rem;
}

.containProfile .right .noproduct h5 {
  font-size: 1rem;
  margin: 1.5rem 0;
  color: var(--pcolor);
}

.containProfile .maarnotif {
  width: 100%;
  text-align: end;
}

.containProfile .profileNotif {
  display: flex;
  align-items: stretch;
  margin: 0.7rem 0;
  padding: 0.3rem;
  border: 2px solid var(--scolor);
  border-radius: 6px;
  /* background-color: var(--scolor); */
  cursor: pointer;
}

.containProfile .profileNotif:hover {
  background-color: var(--scolor);
}

.containProfile .profileNotif img {
  height: 100px;
  width: 140px;
  border-radius: 12px;
  margin: auto 0;
  margin-right: 1rem;
}

.containProfile .profileNotif p {
  margin: 0.4rem 0 0.2rem;
  font-size: 0.95rem;
  font-weight: 450;
}

.containProfile .profileNotif > div:first-of-type {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.containProfile .right .profile .photo .MuiIconButton-root {
  position: absolute;
  right: 10px;
  bottom: -10px;
  width: 50px;
  height: 50px;
  fill: var(--pcolor);
  cursor: pointer;
}

.containProfile .right .profile .photo .MuiIconButton-root svg {
  width: 30px;
  fill: var(--pcolor);
  cursor: pointer;
  margin: auto;
}

.containProfile .right .setting {
  margin: 2.5rem auto 0;
  width: 50%;
}

.containProfile .right .profile .photo {
  position: relative;
}

.containProfile .right .setting .pv {
  margin: 0 0.2rem 1rem;
  font-size: 0.95rem;
  color: var(--pricecolor);
}

@media (max-width: 1200px) {
  .containProfile {
    margin: 3em 2%;
    grid-template-columns: 20% 76%;
    grid-column-gap: 0;
  }

  .containProfile .left ul {
    padding: 1rem;
  }

  .containProfile .left li {
    margin: 1rem 0;
  }

  .containProfile .left li a {
    font-size: 1.05rem;
  }

  .containProfile .right {
    box-sizing: border-box;
    padding: 0 0.6rem;
  }

  .containProfile .right .contprod {
    box-sizing: border-box;
    margin-bottom: 2rem;
    padding: 0.3rem;
  }

  .containProfile .right .qaim {
    box-sizing: border-box;
    margin: 1rem;
  }

  .containProfile .right .qaim > div:first-of-type,
  .containProfile .profileproduct {
    top: 65px;
  }

  .containProfile .right .qaim h6 {
    margin: 0.8rem 0;
    font-size: 0.95rem;
  }

  .containProfile .profileproduct h5 {
    font-size: 0.95rem;
    margin: 0.7rem 0;
  }
}

@media (max-width: 1050px) {
  .containProfile {
    margin: 4em 0;
    display: block;
  }

  .containProfile .left {
    display: none;
  }
  /* 
  .containProfile .left li {
    margin: 0.9rem 0;
  }

  .containProfile .left li a {
    font-size: 0.9rem;
  } */

  .containProfile .right .profile {
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: start;
    margin: 3rem auto;
  }

  .containProfile .right .qaim {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .containProfile .right .qaim > div:first-of-type,
  .containProfile .profileproduct {
    top: 50px;
  }

  .containProfile .right .templ > div {
    margin-left: 0;
    width: 100%;
  }

  .containProfile .right .templ img {
    display: none;
  }

  .containProfile .right .templ {
    box-sizing: border-box;
    padding: 0.5rem 0.5rem 0.2rem;
  }

  .containProfile .right .qaim h6 {
    margin: 0.6rem 0;
    font-size: 0.9rem;
  }

  .containProfile .profileproduct h5 {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
}

@media (max-width: 700px) {
  .containProfile .profileNotif div .div {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }

  .containProfile .profileNotif div .div i {
    color: var(--timecolor);
    font-style: italic;
    font-size: 1rem;
    align-self: flex-start;
  }

  .containProfile .profileNotif div .div div {
    align-self: flex-end;
  }
  .containProfile .right .setting {
    /* margin: 2.5rem auto 0; */
    width: 80%;
  }
}
