.bg-sign {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(62, 67, 47, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
}

.contain-sign {
  position: fixed;
  top: 25%;
  width: 50%;
  padding: 1em 0;
  background-color: var(--bgcolor);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 8px #00000028;
}

.signin-h3 {
  margin: 0.6em 0;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  -webkit-text-fill-color: var(--pcolor);
}

.contain-sign input {
  font-family: "Avenir", "Arial", sans-serif;
  width: 50%;
  height: 35px;
  margin: 0.5rem;
  padding-left: 1rem;
  border: 2px solid var(--tcolor);
  border-radius: 12px;
  background-color: var(--bgcolor);
}

.contain-sign input::placeholder {
  font-family: "Avenir", "Arial", sans-serif;
  /* color: #616e3c00; */
  font-size: 1.1em;
}

.contain-sign input:focus {
  outline: none;
  border: 2px solid var(--pcolor);
  border-radius: 12px;
}

.contain-sign button,
.contain-sign a {
  font-size: 0.84em;
  display: inline-flex;
  margin: 0.6em;
  height: 35px;
  width: 25%;
  background-color: var(--scolor);
  color: var(--pcolor);
  border: none;
  transition: transform 0.3s ease-out;
}

.btn-gg {
  justify-content: center;
  gap: 10px;
  display: block;
  width: 50% !important;
  background-color: var(--bgcolor) !important;
  box-shadow: 0px 0px 4px var(--pcolor);
}

.btn-login {
  background-color: var(--pcolor);
  color: var(--bgcolor);
}

.btn-1 .btn-g {
  width: 100%;
  height: 20%;
  margin: 1rem;
}

.contain-sign button:hover,
.contain-sign a:hover {
  transform: scale(1.02);
}

.contain-sign .aclick {
  background-color: var(--pcolor);
  color: var(--bgcolor);
  opacity: 0.5;
  pointer-events: none;

  cursor: default;
}

.inputerror {
  border: 2px solid red !important;
}

.perror {
  color: red;
  font-size: 0.7em;
  margin-bottom: 1em;
  margin: 0 25% 1em;
}

.MuiAlert-standardError {
  width: 50%;
  margin: 0.6em auto;
  border-radius: 12px !important;
}

@media screen and (max-width: 1200px) {
  .contain-sign {
    width: 70%;
  }

  .signin-h3 {
    font-size: 0.9em;
  }

  .contain-sign input {
    width: 60%;
    height: 30px;
  }

  .contain-sign a {
    width: 30%;
    font-size: 0.8em;
    padding: 0.5rem 0rem;
  }

  .contain-sign a:hover {
    padding: 0.5rem 0.2em;
  }

  .perror {
    font-size: 0.62em;
    margin: 0 20% 0.8em;
  }
}

@media screen and (max-width: 850px) {
  .contain-sign {
    width: 85%;
  }

  .signin-h3 {
    font-size: 0.85em;
  }

  .contain-sign input {
    width: 70%;
    height: 28px;
  }

  .contain-sign a {
    width: 35%;
    font-size: 0.77em;
    padding: 0.4rem 0rem;
  }

  .contain-sign a:hover {
    padding: 0.4rem 0.2em;
  }

  .contain-sign .perror {
    font-size: 0.6em;
    margin: 0 15% 0.8em;
  }
}
