* {
  transition: background-color 0.4s ease-out;
  /* -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; */
}

html {
  font-size: 17px;
  height: 100%;
}

/* :root {
  --scolor: #616e3c;
  --pcolor: #f4f2f0;
  --tcolor: #4c5533;
  --bgcolor: #16180e;
  --shcolor: #a8cf3b59;
  --pricecolor: #f27a02;
  --textcolor: #c3c6bc;
  --timecolor: #a0b0a0;
  --cancelcolor: rgb(170, 160, 32);
} */

body {
  position: relative;
  background-color: var(--bgcolor);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  min-height: 100%;
}

#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
img {
  user-select: none;
}

::placeholder {
  font-size: 17px;
  font-family: "Avenir", "Arial", sans-serif;
  color: rgb(180, 180, 180);
}

p,
textarea,
input {
  color: var(--textcolor);
  font-family: "Avenir", "Arial", sans-serif;
  background-color: inherit;
}

svg {
  fill: var(--pcolor);
  stroke: var(--pcolor);
  stroke-width: 1px;
}

button {
  user-select: none;
}

scroll-container {
  scroll-behavior: smooth;
  scroll-padding-top: 180px;
}

.notfound {
  width: 100wh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound svg {
  width: 40%;
  height: 40%;
  opacity: 0.8;
  z-index: -1;
}

.notfound div {
  text-align: center;
}

.notfound h4 {
  color: var(--tcolor);
  text-align: center;
  font-size: 5em;
  margin: 0em 0;
}

.notfound p {
  color: var(--textcolor);
  font-size: 3em;
  margin: 0;
  margin-top: 0.5em;
}

.cart-not {
  background-color: var(--tcolor) !important;
  color: var(--pcolor) !important;
  border-radius: 33px !important;
  font-size: 1rem;
  cursor: pointer;
}

.type-product {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: default;
  z-index: 1;
}

.type-product svg {
  height: 12px;
  width: 12px;
  margin: 0 0.2rem;
}

.type-product span {
  position: absolute;
  display: none;
  top: -20px;
  right: 0;
  padding: 0.1rem 0.3rem;
  background-color: var(--scolor);
  color: var(--pcolor);
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.type-product:hover span {
  display: block;
}

.skel-img {
  height: 130px !important;
}

.skel-img1 {
  height: 100% !important;
}

.noResult {
  width: 100%;
  margin-top: 7rem;
  text-align: center;
}

.noResult svg {
  width: 400px;
  height: 400px;
  fill: var(--bgcolor);
  stroke: var(--scolor);
  stroke-width: 0.4;
}

.noResult h5 {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: var(--pcolor);
}
