.nav-fil {
  position: sticky;
  display: flex;
  top: 0;
  height: 55px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgcolor);
  border-radius: 0 0 1.2rem 1.2rem;
  box-shadow: 0px 2px 4px var(--scolor);
  z-index: 2;
}

.menu-fil {
  display: flex;
  width: 60%;
  margin: auto 5em 0.4rem;
  justify-content: space-around;
}

.menu-filp {
  display: grid;
  grid-template-columns: 60% 15%;
  width: 80%;
  margin: auto 5em 0.4rem;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .nav-fil {
    height: 3.7rem;
  }

  .search-fil,
  .menu-fil {
    margin: 1.5rem 2.2rem 1rem;
  }
}

@media screen and (max-width: 850px) {
  .nav-fil {
    /* position: relative; */
    height: auto;
    width: 100%;
    padding: 0.2em 0;
    text-align: center;
    display: inline-block;
  }

  .search-fil,
  .menu-fil {
    margin: 0.4rem 1rem 0.2rem;
    width: 90%;
  }
}
